<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperatura</title>

    <link rel="stylesheet" href="/static/estilo.css">
</head>

<body>
    <div class="container">
        <h1>Temperatura</h1>
        <select name="ciudad" id="ciudad">
        <option value="Acapulco">
            Acapulco (Mexico)
        </option>
        <option value="Bogota">
            Bogota(Colombia)
        </option>
        <option value="Ciudad de Mexico">
            Ciudad de Mexico(Mexico)
        </option>
        <option value="Lima">
            Lima(Peru)
        </option>
        <option value="Madrid">
            Madrid(España)
        </option>
        </select>
        <h2 id="temp">-</h2>
    </div>
    <script src="/static/app.js"></script>
</body>

</html>